<style type="text/css">
  #ds-reset .ds-avatar img{
    border-radius:50%;
  }

  .comments {
    margin-top: 15px;
  }

  .ds-powered-by {
    font-size: 0px !important;
  }

  #ds-reset .ds-avatar img {
    transition: transform 0.7s ease-out;
    -webkit-transition: -webkit-transform 0.7s ease-out;
    -moz-transition: -moz-transform 0.7s ease-out;
    -o-transition: -moz-transform 0.7s ease-out;
  }

  #ds-reset .ds-avatar img:hover {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
</style>
<div class="comments">
  <div class="ds-thread" data-title="{{ page.title }}" data-thread-key="{{ page.id }}" data-url="{{ site.blog.url }}{{ page.url }}"></div>
  <script type="text/javascript">var duoshuoQuery = {short_name:"{{ site.duoshuo.name }}"};(function(){var ds = document.createElement('script');ds.type = 'text/javascript';ds.async = true;ds.src = '/assets/scripts/duoshuo.js';ds.charset = 'UTF-8';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);})();</script>
</div>