<div class="col-sm-3 sidebar left-content">
  <div class="avatar">
    <a href="/"><img src="{{site.blog.static}}images/avatar.jpg" class="img-circle" /></a>
  </div>
  <div class="info">
    <h1 class="username">{{site.author.nickname}}</h1>
    <p class="sign">{{site.blog.sign}}</p>
  </div>
  <div class="list-group">
    <a href="/pages/timing.html" class="list-group-item"><i class="fa fa-clock-o"></i> {{site.lang.timing}}</a>
    <a href="/pages/category.html" class="list-group-item"><i class="fa fa-list"></i> {{site.lang.category}}</a>
    <a href="/pages/books.html" class="list-group-item"><i class="fa fa-book"></i> {{site.lang.books}}</a>
    <a href="{{site.author.resume}}" target="_blank" class="list-group-item"><i class="fa fa-paper-plane-o"></i> {{site.lang.about}}</a>
  </div>
  <div class="links">
    <a href="mailto:{{site.author.email}}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-at fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="http://wpa.qq.com/msgrd?v=3&uin={{site.author.qq}}&site=qq&menu=yes">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-qq fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="{{site.author.github}}" target="_blank" class="github">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-github fa-stack-2x"></i>
      </span>
    </a>
  </div>
</div>
