<div class="sidebar">
  <div class="profilepic">
    <a href="/"><img src="{{ site.author.avatar }}" alt="avatar"></img></a>
  </div>
  <h1 class="title"><a href="/">{{ site.author.nickname }}</a></h1>
  <h2 class="sub-title">{{ site.blog.sign }}</h2>
  <nav id="nav">
    <ul>
      <li>
        <a href="/pages/timing.html">
          <i class="fa fa-clock-o"></i>&nbsp;{{ site.lang.timing }}
        </a>
      </li>
      <li>
        <a href="/pages/category.html">
          <i class="fa fa-tags"></i>&nbsp;{{site.lang.category}}
        </a>
      </li>
      <li>
        <a href="/pages/read.html">
          <i class="fa fa-book"></i>&nbsp;{{site.lang.read}}
        </a>
      </li>
      <li>
        <a href="{{site.author.resume}}" target="_blank">
          <i class="fa fa-paper-plane-o"></i>&nbsp;{{site.lang.about}}
        </a>
      </li>
    </ul>
  </nav>  
  <nav id="sub-nav">
    <a class="email" href="mailto:{{ site.author.email }}" title="{{ site.lang.email}}" target="_blank"><i class="fa fa-at"></i></a>
    <a class="weibo" href="{{ site.author.weibo }}" title="{{ site.lang.weibo}}" target="_blank"><i class="fa fa-weibo"></i></a>
    <a class="github" href="{{ site.author.github }}" title="{{ site.lang.github}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  </nav>
</div>
