.article {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed @gray;

  .head {
    .border-left(@brand-primary);
  }

  .title {
    margin-top: 0;
    font-weight: 600;
  }

  .meta {
    span {
      margin-right: 15px;
    }
  }

  .body {
    margin-top: 15px;
    line-height: 2;
    letter-spacing: .5px;

    td {
      padding: 4px 10px;
      border: 1px solid @gray;
    }

    a {
      text-decoration: underline;
    }

    ul {
      padding-left: 20px;
      p {
        margin: 0;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .foot {
    overflow: hidden;
    margin-top: 15px;
  }
}
