.article {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px dashed @border-color;

  .head {
    .border-left(@brand-success);
  }

  .title {
    margin-top: 0;
    font-weight: 600;
  }

  .meta {
    color: @gray;
    a {
      color: @gray;
    }
    span {
      margin-right: 15px;
    }
  }

  .body {
    margin-top: 15px;
    line-height: 2;
    letter-spacing: .5px;

    td {
      padding: 4px 10px;
      border: 1px solid @border-color;
    }

    a {
      display: inline-block;
      line-height: 1.5;
      border-bottom: 2px solid @border-color;
      font-weight: bolder;
      &:hover {
        border-color: @link-hover-color;
      }
    }

    ul {
      .border-left(@brand-success);
      li {
        list-style: none;
      }
      p {
        margin: 0;
      }
    }

    img {
      max-width: 100%;
    }

    table {
      margin-bottom: 10px;
    }
  }

  .foot {
    overflow: hidden;
    margin-top: 15px;
    .btn-hover;
  }
}
