.duoshuo {
  .ds-meta {
    display: none !important;
  }

  .ds-post-self {
    padding-left: 0 !important;
  }

  .ds-powered-by {
    display: none !important;
  }

  #ds-reset {
    .ds-post-button {
      background-color: @brand-primary !important;
    }
    .ds-avatar {
      margin-left: 0 !important;
      img {
        border-radius:50%;
        transition: transform 0.7s ease-out;
        &:hover {
          transform: rotateZ(360deg);
        }
      }
    }
    .ds-replybox {
      padding-left: 40px !important;
    }
  }
}
