#page-books {
  .title {
    margin: 20px 0;
    //.text-shadow;
    .border-left(@brand-success);
    color: @brand-success;
  }
  ul {
    padding-left: 0;
  }
  .item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 2px;
    border: 1px solid @gray;
    img {
      width: 90px;
      height: 120px;
    }
  }
}
