---
layout: main
title: 目录
pid: page-category
---

{% capture categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign category = categories | split:',' | sort %}
<div class="list">
{% for item in (0..site.categories.size) reversed %}
{% unless forloop.first %}
  {% capture word %}{{ category[item] | strip_newlines }}{% endcapture %}
  <h2 class="title" id="{{ word }}"><i class="fa fa-tags"></i> {{ word }}</h2>
  {% for post in site.categories[word] %}
  <ul>
  {% if post.title != null %}
  <li>{{ post.date | date: "%Y-%m-%d" }} <i class="fa fa-angle-double-right"></i> <a href="{{ post.url }}" target="_blank">{{ post.title }}</a></li>
  {% endif %}
  </ul>
  {% endfor %}
{% endunless %}
{% endfor %}
</div>
